#logo User system
#linkWraps
	// there is JS code that will show the corresponding panel to the clicked navigation div.
	// ie: clicking <div class="nav">HOME</div> will show panel #homePanel
	// this code is in layout.jade
	.nav#homeLink HOME
	.nav#createLink Sales_team
	.nav#cr_acTradeSetup Trading_admin_team
	.nav#cr_acBenchmark Operation_team
	.nav#cr_benchmark IT_team
